* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: 2em 1fr;
}

nav.menu {
    border-bottom: 1px solid var(--vscode-activityBar-border);
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

nav.menu > div {
    display: flex;
    align-items: center;
    gap: 5px;
}

nav.menu button {
    width: 22px;
    height: 22px;
    border: 1px solid var(--vscode-editorGroup-border);
    background-color: transparent;
    color: var(--vscode-editor-foreground);
    display: flex;
    align-items: center;
    justify-content: center;
}

nav.menu button.theme {
    background-size: 20px 20px;
    background-repeat: repeat;
}

nav.menu button.selected {
    border: 1px solid var(--vscode-activityBar-border);
}

.select-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
    height: 22px;
    z-index: 10;
    cursor: pointer;
}

.select {
    width: 100%;
    height: 22px;
    min-height: 22px;
    border: 1px solid var(--vscode-editorGroup-border);
    color: var(--vscode-editor-foreground);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5px;
    gap: 5px;
}

.options {
    background-color: var(--vscode-editor-background);
    border: 1px solid var(--vscode-editorGroup-border);
    width: 100%;
    visibility: hidden;
}

.options option {
    padding: 2px 5px;
}

.options option:hover {
    background-color: color-mix(
        in srgb,
        var(--vscode-editor-background),
        #fff 10%
    );
}

.options.visible {
    visibility: visible;
}

select {
    background-color: transparent;
    border: 1px solid var(--vscode-editorGroup-border);
    color: var(--vscode-editor-foreground);
    background-clip: padding-box;
    height: 22px;
    outline: none;
}

select:focus {
    border: 1px solid var(--vscode-editorGroup-border);
    outline: none;
}

option {
    background-color: var(--vscode-editor-background);
}

section.svg-view {
    height: 100%;
    overflow: hidden;
    position: relative;
}

section.svg-view > .svg-wrapper {
    position: absolute;
    transform-origin: 0 0;
    background-size: min(100%, 20px) min(100%, 20px);
    background-repeat: repeat;
}

section.svg-view > .svg-wrapper.dark,
nav.menu button.theme.dark {
    background-image: conic-gradient(
        #202020 0 90deg,
        #353535 0 180deg,
        #202020 0 270deg,
        #353535 0
    );
}

section.svg-view > .svg-wrapper.light,
nav.menu button.theme.light {
    background-image: conic-gradient(
        #c9c9c9 0 90deg,
        #eee 0 180deg,
        #c9c9c9 0 270deg,
        #eee 0
    );
}

section.svg-view > .svg-wrapper > svg {
    width: 100%;
    height: 100%;
    display: block;
}

div.divider {
    height: 22px;
    border-left: 1px solid var(--vscode-activityBar-border);
}
